.container{
background-color: bisque;
height: 250px;
display: grid;
grid-template-columns: auto auto auto ;
gap: 10px;
align-content: end;
}
.box{
    margin: 20px;
    background-color: brown;
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

